---
import Metadata from "../components/Metadata.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Section from "./Section.astro"

/*
    <!-- START: Google tag (gtag.js) -->
    <!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DTSP115RKH"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())
      gtag("config", "G-DTSP115RKH")
    </script>
    -->
    <!-- END: Google tag (gtag.js) -->
*/
---

<html lang="en">
  <head>
    <Metadata title="nguyenvukhang" description="khang's blog" />
  </head>
  <body>
    <slot />
    <Section>
      <Footer />
    </Section>
  </body>
</html>
