<div style="display:flex;justify-content:center;margin:48px 0 64px">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="48"
    height="48"
    viewBox="0 0 64 64"
    fill="var(--color-fg2)"
  >
    <path
      d="M39.3857 60.2081C39.4061 60.5232 39.5386 60.9555 40.0584 60.9555H43.422C43.8452 60.9555 44.1612 60.6644 44.0947 60.2081L43.6509 57.1634L43.67 54.4736C43.672 54.1991 43.6738 53.937 43.057 53.7788L39.5537 52.8803C39.1861 52.786 38.9196 52.9984 38.9442 53.3797L39.3857 60.2081Z"
    ></path>
    <path
      d="M48.6543 56.1343L48.8785 60.2081C48.9048 60.6846 49.1545 60.9555 49.5513 60.9555H52.9148C53.3204 60.9555 53.6531 60.5842 53.5876 60.2081C53.3152 58.6456 53.24 55.3542 53.4119 54.2234L54.3833 47.8331L48.7701 48.3096L48.6543 56.1343Z"
    ></path>
    <path
      d="M51.9962 33.1828C54.5136 34.2943 56.0614 32.566 56.1782 31.1499C56.6596 25.3119 56.3967 17.61 51.9531 9.85657C51.3479 8.80825 50.2153 8.60742 49.431 8.62582C48.0449 8.65832 46.7969 8.92093 46.4995 7.81123L46.2028 6.62807C46.0711 6.10297 46.2376 5.52352 47.0047 5.23191L49.9097 4.12757C50.6993 3.82743 51.8876 4.08484 52.3259 4.60803C62.1663 16.352 65.6183 31.3766 60.9328 47.358L59.9927 54.2632L60.5387 60.2081C60.5243 60.5944 60.2003 60.9555 59.8661 60.9555H56.5025C56.1513 60.9555 55.8492 60.5208 55.8298 60.2081L55.3116 51.8741L57.0414 49.6258C57.2749 49.3224 57.0911 48.8162 56.5782 49.2517C52.3353 52.8548 42.973 53.1842 37.9965 50.6187C37.6335 50.4316 37.0845 50.4506 37.0257 51.1417L36.6415 55.6576L36.62 60.2081C36.5984 60.5412 36.316 60.9555 35.9472 60.9555H32.5089C32.2019 60.9555 31.8022 60.6462 31.8362 60.2081L32.6298 49.9676L32.5399 46.966C32.5301 46.6418 32.306 45.9494 31.5646 46.1705C27.5793 47.3589 19.8363 49.0545 13.3632 49.0443C7.10905 49.0345 0.988489 46.8029 1.00002 43.3421C1.00689 41.2774 3.02682 38.4758 9.97548 37.1687C10.8515 36.9688 11.2291 38.2254 10.3048 38.4836C7.97307 38.9854 4.67467 40.1114 4.67467 41.9179C4.67467 43.9041 8.82659 44.1286 9.99191 44.1286C19.4978 44.1286 28.4814 38.0575 35.2601 35.0564C40.5892 31.4831 46.8647 30.9171 51.9962 33.1828Z"
    ></path>
  </svg>
</div>
